@import "./blocks/./_header.scss";
@import "./blocks/./_index.scss";
@import "./blocks/./_footer.scss";
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
};
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
};
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
};
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
};

:root{
    --bg-body: #111827;

    //*main
    --main-color: #444342;
    --title-color: #111827;
    --accent-color: #f79676;
    
    // *buttons
    --button-color: #1b1a1a;
    --button-bg-color: #ffc1a7;
    --button-hover: #f79676;
    --button-focus: var(--main-color);

    // *header
    --navbar-fixed: rgba(250, 245, 239,0.3);
    --theme-icon-color: #faf5ef;
    --menu-icon-color: #444342;
    --overlay-header: rgba(249, 250, 251,0.8);
    --border-color: #333333;
    
    // *sections
    --background-section: #faf5ef;

    // *section project
    --project-bg-color: rgba(250, 245, 239,0.3);
    --project-image-bg-color: #faf5ef;
    --overlay-popup: rgba(0, 0, 0, 0.7);
    
    // *contacts
    --tooltip-color: #f2e4d3;
    --social-icon-color: #000000;
}

.change_theme{
    --bg-body: #d1d5db;

    //*main
    --main-color: #d1d5db;
    --title-color: #f9fafb;
    --accent-color: #ffe455;

    // *buttons
    --button-bg-color: #fcf093;
    --button-color: #1b1a1a;
    --button-hover: #ffe455;
    --button-focus: #d1d5db;

    // *header
    --navbar-fixed: rgba(63, 63, 63, 0.3);
    --theme-icon-color: #1b1a1a;
    --menu-icon-color: #d1d5db;
    --border-color: #dbdbdb;
    
    // *sections
    --background-section: #1b1a1a;

    // *section project
    --project-bg-color: rgba(63, 63, 63, 0.3);
    --project-image-bg-color: #1b1a1a;
    --overlay-popup: rgba(0, 0, 0, 0.7);
    
    // *contacts
    --tooltip-color: #302f2f;
    --social-icon-color: #ffffff;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(16px,3vw,18px);
    color: var(--main-color);
    background-color: var(--bg-body);
}
.no_scroll{
    overflow: hidden;
}

.container{
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}
.button_page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 136px;
    height: 36px;
    border-radius: 12px;
    padding: 6px 16px;
    background-color: var(--button-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--button-color);
    transition: background-color 0.2s ease-in;
    &:hover{
        background-color: var(--button-hover);
    }
    &:focus{
        border: solid 2px var(--button-focus);
    }
}

.about_me,.technologies,.projects,.contacts{
    width: 100%;
    min-height: 50px;
    background-color: var(--background-section);
    border-bottom: solid 2px var(--border-color);
    border-radius: 30px;
    padding: 96px 0;
}
.section_title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
    .section_title{
        code{
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: clamp(20px, 5vw, 40px);
            line-height: 20px; /* 142.857% */
            word-spacing: -2px;
            color: var(--main-color);
        }
        span{
            color: var(--accent-color);
        }
    }
    .subtitle{
        font-size: clamp(16px,3vw,18px);
        font-weight: 500;
        line-height: 24px; /* 140% */
        text-align: center;
    }
}