// * header
.header{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-section);
    border-bottom: solid 2px var(--border-color);
    border-radius: 30px;
}
// *navbar 
.navbar{
    border: 1px solid var(--border-color);
    background-color: var(--navbar-fixed);
    backdrop-filter: blur(1px);
    width: clamp(276px,50vw,596px);
    min-height: 65px;
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: 16px 0;
}
.navbar_container{
    display: flex;
    justify-content: space-evenly;
    column-gap: 15px;
    align-items: center;
}
.logo_link{
    outline: none;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px; /* 120% */
    color: var(--main-color);
    letter-spacing: -0.6px;
    &:focus{
        border: solid 2px var(--button-focus);
    }
}
.menu_list{
    display: flex;
    column-gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 24px;
    transition: margin 0.2s ease-in;
    .menu_link{
        outline: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        color: inherit;
        transition: color 0.2s ease;
        &:hover{
            color: var(--accent-color);
        }
        &:focus{
            border: solid 2px var(--button-focus);
        }
    }
}
.button_toggle_theme{
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: var(--button-bg-color);
    border-radius: 50%;
    overflow: hidden;
    &::before{
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background-color: var(--accent-color);
        border-radius: 50%;
        position: absolute;
    }
    &:focus{
        border: solid 2px var(--button-focus);
    }
}
.icon_theme{
    position: relative;
    width: 28px;
    height: 28px;
    fill: var(--theme-icon-color);
    transition: all 0.5s ease;
}
.hidden{
    transform: scale(0);
    position: absolute;
}
.burger_menu{
    display: none;
}

// *header inner
.header_inner_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header_inner_text{
    max-width: 768px;
    .header_inner_my_name{
        font-size: clamp(12px,3vw,16px);
        line-height: 24px; /* 150% */
        margin-bottom: clamp(5px, 1.5vw, 18px);
    }
    .header_inner_title{
        font-weight: 700;
        font-size: clamp(25px, 5vw, 60px);
        line-height: clamp(40px, 7vw, 72px);
        letter-spacing: -1.2px;
        color: var(--title-color);
        span{
            color: var(--accent-color);
            text-transform: uppercase;
        }
    }
    .buttons_header{
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        row-gap: 24px;
    }
}
.header_arrow_link{
    width: 20px;
    height: 20px;
    fill: var(--accent-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    animation: arrowDown 1s infinite;
}
.header_icon_arrow{
    transform: rotate(88deg);
}
@keyframes arrowDown{
    0%{
       bottom: 20px;
    }
    50%{
       bottom: 10px;
    }
    100%{
       bottom: 20px;
    }
    
}

.none{
    display: none;
}